.container, .container-fluid {
  text-align: center;
}

/* dash ICON dash */
.dash:before, .dash:after {
  content: "";
  display: inline-block;
  margin: 0 .5em 0 -55%;
  vertical-align: middle;
  width: 10%;
  border-bottom: 1px solid;
}

.dash:after {
  margin: 0 -55% 0 .5em;
}

/* Extra spacing underneath subsection names */
div[class*="-bg"] {
  margin-bottom: 65px;
}

/* Bottom pacing between subsection and next subsection */
.subsection {
  margin-bottom: 25px;
}


/*==================================================
=                   Bio Section                    =
==================================================*/

#bio-div {
  width: 100%;
}

#bio-text {
  text-align: center;
  font-size: 16px;
  /* max-width: 600px;
  margin: auto; */
}

/*==================================================
=               Education Section                  =
==================================================*/


/*==================================================
=                Interest Section                  =
==================================================*/

.interest {
  text-align: center;
	margin-bottom: 20px;
	border-radius: 5px;
	height: auto;
}

.interest .text {
  font-size: 20px;
}

/*==================================================
=               Organizations Section              =
==================================================*/
div.orgs-div .org-name {
  font-size: 24px;
}

div.orgs-div .bottom-spacing {
  margin-bottom: 20px;
}

/*==================================================
=            Extracurriculars Section              =
==================================================*/

div.extras-div img {
  margin-bottom: 5px;
}

div.extras-div .date {
  font-size: 18px;
  font-weight: 600;
}

div.extras-div .description {
  text-align: left;
  max-width: 425px;
  margin-left: auto;
  margin-right: auto;
}

div.extras-div a {
  color: yellow;
}

div.extras-div .link-icon {
  font-size: 18px;
  opacity: .6;
  transition: all 0.4s ease-in;
    -webkit-transition: all 0.4s ease-in;
}

div.extras-div .link-icon:hover {
  text-decoration: none;
  font-size: 20px;
  opacity: 1;
}


.cutie-logo {
  width: 180px;
  height: 172px;
}

.citrus-logo {
  width: 234px;
  height: 150px;
}


div.ieee-mbd img {
  /*
  background-image: url('../img/IEEEMeritBadgeDay.jpg');
  background-position: -640px -155px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  */
  width: 306px;
  height: 109px;
}

div.ieee-mbd .subtitle {
  margin-left: 50px;
  font-size: 26px;
  font-weight: 800;
}

/* HackerRank B2S Codesprint */
div.hr-b2s-cs .b2s {
  font-weight: 700;
  font-size: 24px;
}

div.hr-b2s-cs .cs {
  /*
  position: relative;
  top: -5px; */
  font-weight: 700;
  font-size: 24px;
  color: #28af5c;
}

/* Spacing between each column element */
.extras-spacing {
  margin-bottom: 30px;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  div.ieee-mbd, .citrus-logo, div.hr-b2s-cs img {
    margin-top: 0px;
  }

  .citrus-logo {
    margin-top: 0px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  div.ieee-mbd {
    margin-top: 20px;
  }

  .citrus-logo {
    margin-top: 21px;
  }

  div.hr-b2s-cs img {
    margin-top: 61px;
  }
}

/*==================================================
=                   Awards Section                 =
==================================================*/
div.award-div .col-xs-12 {
  margin-bottom: 50px;
}


div.award-div a, {
  text-decoration: none;
}

.award-name {
  font-size: 22px;
  padding-top: 5px;
  padding: 5px 10px;
  border-style: solid;
  border-radius: 20px;
  border-width: 2px;
}

div.award-div p {
  margin-top: 10px;
  font-size: 16px;
}

#shortfilm {
  font-size: 22px;
  font-weight: 800;
}

.crop-sterling {
  overflow: hidden;
  height: 115px;
  width: 100%;
}

.crop-sterling img {
  width: 200px;
}

div.award-div .links {
  margin-top: 5px;
}

i.custom-size:before {
  font-size: 32px !important;
}

i.icon-spacing {
  margin-right: 6px;
}

i.color {
  color: white;
  opacity: .6;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

i.color:hover {
  opacity: 1;
}