.container, .container-fluid {
  text-align: center;
}

/* dash ICON dash */
.dash:before, .dash:after {
  content: "";
  display: inline-block;
  margin: 0 .5em 0 -55%;
  vertical-align: middle;
  width: 10%;
  border-bottom: 1px solid;
}

.dash:after {
  margin: 0 -55% 0 .5em;
}

/*==================================================
=                   Bio Section                    =
==================================================*/

#bio-div {
  width: 100%;
}

#bio-text {
  text-align: center;
  font-size: 16px;
  /* max-width: 600px;
  margin: auto; */
}

/*==================================================
=               Education Section                  =
==================================================*/



/*==================================================
=                Interest Section                  =
==================================================*/

.interest {
  text-align: center;
	margin-bottom: 20px;
	border-radius: 5px;
	height: auto;
}

.interest .text {
  font-size: 20px;
}

/*==================================================
=                   Awards Section                 =
==================================================*/
div.award-div .col-xs-12 {
  margin-bottom: 50px;
}


div.award-div a, {
  text-decoration: none;
}

.award-name {
  font-size: 22px;
  padding-top: 5px;
  padding: 5px 10px;
  border-style: solid;
  border-radius: 20px;
  border-width: 2px;
}

div.award-div p {
  margin-top: 10px;
  font-size: 16px;
}

#shortfilm {
  font-size: 22px;
}

.crop-sterling {
  overflow: hidden;
  height: 115px;
  width: 100%;
}

.crop-sterling img {
  width: 200px;
}

div.award-div .links {
  margin-top: 5px;
}

i.custom-size:before {
  font-size: 32px !important;
}

i.icon-spacing {
  margin-right: 6px;
}

i.color {
  color: white;
  opacity: .6;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

i.color:hover {
  opacity: 1;
}